<form class="mdui-textfield mdui-m-b-2">
    <i class="mdui-icon material-icons">search</i>
    <input id="local-input" type="search" name="q" class="mdui-textfield-input"
        placeholder="<%= __('common.search') %>">
</form>
<div id="local-result" style="min-height:100vh; transition: all .4s" class="mdui-list">
</div>
<script>
    if (typeof searchLocal === "undefined") var searchLocal = () => {
        $("#local-input").on('keydown', () => {
            if (event.keyCode == 13) return false
        })
        $.ajax({
            method: 'GET',
            url: '/search.json',
            datatype: "json",
            success: data => {
                $("#local-input").on('input', () => {
                    $("#local-result").html('');
                    let keyword = $("#local-input").val().trim().toLowerCase();
                    if (keyword.length <= 0) { return } 
                    JSON.parse(data).forEach(({title, content, url}) => {
                        const appendPost = content => document.getElementById('local-result').insertAdjacentHTML('beforeend', `
                            <a href=${url} class="mdui-list-item mdui-ripple">
                                <div class="mdui-list-item-content">
                                    <div class="mdui-list-item-title mdui-list-item-one-line">${title}</div>
                                    <div class="mdui-list-item-text mdui-list-item-two-line">${content}</div>
                                </div>
                            </a>`);
                        if (content.toLowerCase().includes(keyword)) appendPost(content.replace(/<[^>]+>/g, "").substring((content.toLowerCase().indexOf(keyword) -9), (content.toLowerCase().indexOf(keyword) + 130)));
                        else if (title.toLowerCase().includes(keyword)) appendPost(content.replace(/<[^>]+>/g, "").substring(0, 139));
                    })
                })
            }, error: data => console.error(data)
        })
        document.removeEventListener("pjax:success", () => searchLocal(), {once: true});
    }
    document.addEventListener("pjax:success", () => searchLocal(), {once: true});
    window.addEventListener("load", () => searchLocal(), {once: true});
</script>